body {
    width: 1280px;
    }

.cover {
  margin: 0 48px;
  /*margin: 0 auto; 1024*/
  position: relative;
  max-width: 1184px;
  width: 100%;
  
}

.cover__wrapper {
 
  }

  .cover__title {
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 0 32px 0;
    padding: 0;
    display: block;
    max-width: 560px;

}

.cover__subtitle {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  padding: 0;
  display: block;
  max-width: 360px;

}

.cover__background {
  position: relative;
  display: block;
  /*max-width: 100%;*/
  background-image: url('cover-trains.jpg');
  background-repeat: no-repeat;
  position: absolute;/*just steal it from css-tricks*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.7;
}

.cover__background:hover {
  opacity: 0.2;
}