.places {
    margin: 0 auto;
    padding: 92px 48px;
    /*padding: 92px 0;768*/
    /*width: 100%;*/
    max-width: 984px;
    display: flex;
    flex-direction: column;
    /*box-sizing: border-box;*/
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .places {
        padding: 88px 24px;
    }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
    .places {
        padding: 64px 0 66px 0;
    }
}