.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-gap: 16px;
    /*grid-gap: 14px; 1024*/
    /*grid-gap: 16px*/
    width: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto 56px;
    /*margin: 0 48px 48px 48px; для 1024
     margin: 0 24px 48px 24px; для 768*/
}

.lead__subtitle {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 0 64px 0;
    /*margin: 0 0 56px 0; для 1024*/
    /*margin: 0 0 56px 0; для 768*/
    padding: 0;
    display: inline-block;
    max-width: 640px;
}

.place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    /*column-gap: 32px; 1024*/
    row-gap: 48px;
}

.cover {
    margin: 0 48px;
    /*margin: 0 auto; 1024*/
    /*margin: 0 auto; 768*/
    position: relative;
    max-width: 1184px;
  }

  .intro {
    margin: 0 auto;
    max-width: 984px;
    padding: 92px 0;
    /*padding: 88px 24px;768*/
    
}

.places {
    margin: 0 auto;
    padding: 92px 0;
    /*padding: 92px 0;768*/
    width: 100%;
    max-width: 984px;
    display: flex;
    flex-direction: column;
    
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 48px;
    /*margin: 0 24px;768*/
    margin-top: 92px;
    
}