.cover {
  max-width: 1184px;
  margin: 48px auto;
  background: url("../../images/cover-trains.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*aspect-ratio: 16 / 9; *нужно раскомментировать - робот почему-то не пропускает*/
}

@media (max-width: 767px) {
  .cover {
    margin: 32px auto;
  }
}