.cover {
  max-width: 1184px;
  margin: 48px auto;
  background: url("../../images/cover-trains.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 8 / 5;
}

@media (max-width: 767px) {
  .cover {
    margin: 32px auto;
  }
}